.Hero__section {
  margin-top: 120px;
}

.hero__content {
  line-height: 55px;
  font-size: 2.5rem;
}

.hero__content h2 span {
  background: linear-gradient(-45deg, #e250e5, #4b5be6, #e250e5, #4b5be6);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #14141f;
  margin-left: 7px !important;
  display: inline-block;
}

.hero__btns {
  margin-top: 30px;
}
.hero__btns .explore__btn,
.create__btn {
  border: none;
  outline: none;
  padding: 1px 25px;
  border-radius: 50px;
  border: 1px solid #5142fc;
  font-size: 0.9rem;
  background-color: transparent;
  height: 40px;
}

.explore__btn a,
.create__btn a {
  text-decoration: none;
  color: #fff;
  display: inline;
}
.explore__btn i,
.create__btn i {
  color: #fff;
  font-size: 1rem;
}
.hero__btns .explore__btn a:hover,
.hero__btns .create__btn a:hover {
  color: #fff;
}


.hero__img{
   width: 500px; 
   margin-left: auto;
}

.hero__img img{
    border-radius: 7px;
    width: 100%;
}